@import url('https://fonts.googleapis.com/css?family=Poppins');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   background: #61d0ef;
   background-image: url(tree.png);
   background-size: cover;
}
.wrapper{
    width: 450px;
    padding-left: 10px;
    background: rgb(243, 246, 245);
    border-radius: 10px;
}
.wrapper h1{
    font-size: 25px;
    font-weight: 500;
    padding: 20px 30px;
    margin-left: 90px;
}
.wrapper content{
    margin: 25px 25px 35px;
}
.content .inputs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.content .typing-input{
    opacity: 0;
    z-index: -999;
    position: absolute;
}
.inputs input{
    height: 57px;
    width: 56px;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: rgb(0, 179, 255);
    margin: 4px;
    background: none;
    border-radius: 5px;
    border: 1px solid #b5b5b5;
}
.inputs input:first-child{
    margin-left: 0px;
}

.content .details{
    margin: 20px 0 25px 25px;
    
}

.details p{
    font-size: 19px;
    margin-bottom: 10px;
}
.content .reset-btn{
 width: 400px;
 cursor: pointer;
 outline:none;
 border:none;
 font-size: 17px;
 padding: 15px 0;
 margin-bottom: 15px;
 margin-left: 18px;
 background: rgb(8, 252, 183);
 border-radius: 5px;
}
